// showing default values
$accentColor = #e15205
$textColor = #2d3748
$borderColor = #E2E8F0
$codeBgColor = #282c34
$badgeTipColor = #ad0000
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #ad0000
